__pycache__/
dist/
dist_old/
dist_old_2/
dist_old_3/
build/
pico_c_compiler.spec
README.txt
*.tokens
*.rtokens
*.dt
*.rdt
*.dt_simple
*.ast
*.rast
*.st_mon
*.st
*.picoc_shrink
*.picoc_blocks
*.picoc_patch
*.picoc_mon
*.picoc_anf
*.reti_blocks
*.reti_patch
*.reti
*.error
*.c
*.c_out
*.reti_tokens
*.reti_ast
*.in
*.out
*.out_expected
*.datasegment_size
*.reti_states
*.eprom
*.res
*.cast
*.gdb_history
*.venv/
